@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: whitesmoke;
}

.header {
    /* display: flex;
    justify-content: center;
    align-items: center;
    most effective way to center things */

    height: 400px;
    
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

h1 {
    padding-top: 132.8px;
    /*(height of header (400px) - height of h1 (134.4px))/2 = 132.8px */
    font-size: 100px;
    font-family: "Covered By Your Grace", cursive;
    color: rgba(3, 155, 100, 0.75);
    text-align: center;
}

ul {
    position: relative;    
}

li {
    position: absolute;
    width: 48%
}

li:nth-of-type(odd) {    
    left: 1%;
}

li:nth-of-type(even) {    
    right: 1%;
}

li:nth-child(1), li:nth-child(2) {
    top: 0;
}

li:nth-child(3), li:nth-child(4) {
    top: 150px;
}

li:nth-child(5), li:nth-child(6) {
    top: 300px;
}