@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    background-color: whitesmoke;
}

.header {
    height: clamp(12rem, 40vh, 30rem);
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*padding-top: 1px;*/
    /*border-top: 1px solid transparent;*/
    /*padding-top: 133px;*/
    /*box-sizing: border-box;*/
}

.header > h1 {
    font-size: clamp(1rem, 6vw, 6.25rem);
    font-family: "Covered By Your Grace", cursive;
    color: rgba(3, 155, 100, 0.75);
}




.main li > h2 {
    font-size: clamp(0.5rem, 3vw, 1.75rem);
    font-weight: 700;
    background-color: #aa8eb8;    
}

.main li > p {
    color: #454;
    font-weight: 500;
    font-size: clamp(0.5rem, 2vw, 1.25rem);
}

.main li > a {
    color: #214e34;
    font-weight: 600;
    font-size: clamp(0.5rem, 2vw, 1.25rem);
}