@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: whitesmoke;
}

.header {
    height: 400px;
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*padding-top: 1px;*/
    /*border-top: 1px solid transparent;*/
    /*padding-top: 133px;*/
    /*box-sizing: border-box;*/
}

.header > h1 {
    font-size: 100px;
    font-family: "Covered By Your Grace", cursive;
    color: rgba(3, 155, 100, 0.75);
    text-align: center;
    padding-top: 133px;
    /*margin-top: 132px;*/
}

.main > ul {
    list-style: none;
    padding: 0;
}

.main li {
    margin: 100px 0;
    border-bottom: 1px solid #e4bb97;
    padding-bottom: 60px;
}

.main li > h2 {
    font-size: 28px;
    font-weight: 700;
    background-color: #aa8eb8;
    text-align: center;
    text-transform: uppercase;
}

.main li > p {
    color: #454;
    font-weight: 500;
    padding: 0 5px;
    text-align: justify;
    text-indent: 32px;
    line-height: 1.5;
}

.main li > a {
    color: #214e34;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}