.flex-container {
    display: flex;
    width: 800px;
    height: 700px; 
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;    
}

.flex-item {       
    flex: 1 1 100px;   
    min-width: 0;    
    border: 2px solid #000;        
}

img {
    width: 100%;       
    height: auto;      
    display: block;
}
